<!DOCTYPE html>
<html lang="en">

<head>
  {{> head }}
  {{> reset }}
</head>

<body>
  <div class="header">
    <div class="header__logo-box">
      <img class="header__logo" src="logo-white.png" alt="Logo"  height="35px">
    </div>
    <div class="header__text-box" animate="fadeAllFromLeft" >
      <h1 class="text-right" animate="animate-0">outdoors</h1>
      <h3 class="text-right" animate="animate-1">is where life happens</h3>
      {{!-- <div class="btn btn-white btn-animated">btn</div> --}}
    </div>
  </div>

  <main>
    <section id="about">
      <h2 class="heading-secondary">exciting tours for adventurous people</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis atque voluptas iure? Vel vero, iste sit, blanditiis consequatur ut sunt voluptas error beatae nemo placeat quos fugit maiores ea quia.</p>
    </section>
  </main>

  {{> scripts}}
</body>

</html>