<!DOCTYPE html>
<html lang="en">

<head>
  {{> head }}
  {{> reset }}
</head>

<body>

  {{!-- LANDING PAGE --}}
  <div id="landing">
    <div class="container h-100">
      <div class="row">
        <div class="col">
          <img src="logo-white.png" alt="Logo" class="logo m-2" height="35px">
        </div>
        <div class="col">
          <div animate="fadeAllFromLeft" visible="True"> 
            <h1 class="text-right animate-0">outdoors</h1>
            <h3 class="text-right animate-1">is where life happens</h3>
            {{!-- <div class="btn btn-white btn-animated">btn</div> --}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <main>
    <section id="about">
      <h2 class="heading-secondary">exciting tours for adventurous people</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis atque voluptas iure? Vel vero, iste sit, blanditiis consequatur ut sunt voluptas error beatae nemo placeat quos fugit maiores ea quia.</p>
    </section>
  </main>

  {{> scripts}}
</body>

</html>