<!DOCTYPE html>
<html lang="en">

<head>
  {{> head }}
  {{> reset }}
</head>

<body>
  <div class="header">
    <div class="logo-box">
      <img src="logo-white.png" alt="Logo" class="logo">
    </div>

    <h1 class="heading-primary heading-box">
      <div class="heading-primary-main" animate="fade-in-left">outdoors</div>
      <div class="heading-primary-sub" animate="fade-in-left">is where life happens</div>
      {{!-- <button class="btn">discover stuff</button> --}}
      <a href="#" class="btn theme-1" animate="fade-in">Discover stuff</a>
    </h1>


    {{!-- <div class="btn">btn</div>
    <div class="btn btn-white btn-animated">btn</div> --}}

  </div>

  {{> scripts}}
</body>

</html>