* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: rgba(33,33,33,0.9);
}
/*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*/
/* development */

.under-construction {
  outline: 3px dashed tomato;
}
.under-construction:before {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  content: 'element class = under construction';
  color: #999;
  background: #333;
}
/*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*/

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* 
.header {
  position: relative;
  height: 95vh;
  text-align: center;
  background-size: cover;
  background-position: top;
  background-image: 
    linear-gradient(
      to right bottom, 
      rgba(0, 46, 126, 0.8),
      rgba(31, 0, 102, 0.8),
    ),
    url('../dist/vender/img/hero.jpg');

  clip-path: 
    polygon(
      0 0,  
      100% 0,
      100% 80%,
      50% 100%, 
      0 80%
    );
} 
*/





.logo-box {
  top: 40px;
  left: 40px;
  position: absolute;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 

.header__text-banner {
  position: absolute;
  top: 40%;
  width: 100%;
  transform: translate(0%, -50%);
} 

*/
.header-primary {
  color: rgba(255,255,255,0.9);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}
.header-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInFromTop;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.header-primary-sub {
  display: block;
  font-size: 33.5px;
  font-weight: 400;
  letter-spacing: 15px;
  animation-name: moveInFromBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
/* psuedo-classes */
/*


.btn:link,
.btn:visited {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}


*/
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.4);
}
.btn::after {
  content: ""; /* content required for ::after */
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}
.btn:hover {
  /* text-shadow: 0px 0px 10px white; */
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.4);
}
.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.btn-white {
  background-color: #fff;
  color: #777;
}
.btn-white::after {
  background-color: #fff;
}

.btn-animated {
  animation: moveInFromBottom .5s ease-out .75s;
}
