/////////////////////////////////////////////////////////////////////////////////////////


@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10rem);
  }

  80% {
    opacity: 0.2;
    // transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
[animate] {
  & [animate~="fade-in"] {
    animation-name: fade-in;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
  }

  & [animate~="fade-out"] {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
  }

  & [animate~="fade-in-left"] {
    animation-name: fade-in-left;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
  }

  & [animate~="fade-in-children"] {
    @for $i from 1 through 5 {
      >.animate-#{$i} {
        animation-name: fade-in-left;
        animation-duration: 1s;
        animation-delay: $i * (1s / 4);
        animation-timing-function: ease-in;
        animation-fill-mode: backwards;
      }
    }
  }

  /*----[delay]----*/
  // & [animate$="delay-"] {
  //   // trying to get delay-{value}
  //   animation-delay: $i; // assign value to delay
  // }

  /*----[when visible on screen]----*/
  & .visible {
    & [animate~="fade-in"] {
      animation-name: fade-in;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }

    & [animate~="fade-out"] {
      animation-name: fade-out;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }

    & [animate~="fade-in-left"] {
      animation-name: fade-in-left;
      animation-duration: 1s;
      animation-delay: 0;
      animation-timing-function: ease-in;
      animation-fill-mode: backwards;
    }
  }
}