

body {
  // @include Mobile;
  // @include min-width-Tablet;
  // @include min-width-Desktop;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color1;
}


///////////////////////////////////////



////////////////////////////////////////////////////////
// LANDING PAGE
#landing {
  background-size: cover;
  background-position: top;
  background-image:
    linear-gradient(to right bottom,
      rgba($bg1, 0.5),
      rgba($bg3, 0.5)),
    url('hero.jpg');
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-size: cover;
  color: rgba(#fff, 0.9);
  height: 95vh;
  text-transform: uppercase;
  position: relative;

  // h1 {
  //   font-size: 60px;
  //   font-weight: 400;
  //   letter-spacing: 35px;
  // }

  // h2 {
  //   font-size: 33.5px;
  //   font-weight: 400;
  //   letter-spacing: 15px;
  // }

}
////////////////////////////////////////////////////////
// SECTIONS
section {
  &#about {
    background-color: $bg4;
    padding: 25rem 0;
  }
}
