

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-1;
}



////////////////////////////////////////////////////////
// LANDING HEADER
.header {
  @include landing-header-font;
  background-size: cover;
  background-position: top;
  background-image:
    linear-gradient(
      to right bottom,
      rgba($color-1, 0.5),
      rgba($color-3, 0.5)
    ),
    url('hero.jpg');
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  color: rgba(#fff, 0.9);
  height: 95vh;
  text-transform: uppercase;
  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}
////////////////////////////////////////////////////////
// SECTIONS
#about {
  background-color: $bg-1;
  padding: 25rem 0;
}
