body {
  @include Font;
  @include width-Mobile;
  @include min-width-Tablet;
  @include min-width-Desktop;
}

//////////////////////////////////// color
.theme-1 {
  background-color: #fff;
  color: #777;

  ::after {
    background-color: #fff;
  }
}


//////////////////////////////////// typogrpahy
h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 2.6rem;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 2rem;
}

h3 {
  color: $color-2;
  font-size: 1.25em;
  line-height: 2rem;
}

/////////////////////////////////////// logos
.logo {
  height: 35px;
}

.logo-box {
  top: 40px;
  left: 40px;
  position: absolute;
}

.heading-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

////////////////////////////////////////////////////////
.header {
  position: relative;
  height: 95vh;
  text-align: center;
  background-size: cover;
  background-position: top;
  background-image:
    linear-gradient(to right bottom,
      rgba($bg-1, 0.5),
      rgba($bg-3, 0.5)),
    url('hero.jpg');
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.heading-primary {
  color: $color-1;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  line-height: 78px;
  // animation-name: moveInFromTop;
  // animation-duration: 1s;
  // animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  // animation-name: moveInFromBottom;
  // animation-duration: 1s;
  // animation-timing-function: ease-out;
}

///////////////////////////////////////////

.btn {
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(#000, .4);
  }
  &:hover {
    /* text-shadow: 0px 0px 10px white; */
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(#000, .4);
  }

  &:link,
  :visited {
    display: inline-block;
    padding: 0 15px;
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &:hover::after {
    transform: scale(1.5);
    opacity: 0;
  }
}