/*  Color Profile */
$color-1: #7ed56f;
$color-2: #55c57a;
$color-3: #28b485;
$bg-1: #f7f7f7;




$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;




/*  View Width */
$breakpoint_md: 576px;
$breakpoint_lg: 991px;

