/*  Color Profile */
$bg1: #7ed56f;
$bg2: #55c57a;
$bg3: #28b485;
$bg4: #efefef;
$color1: #777;


.theme-1 {
  color: $color1;
  background-color: $bg1;
}

.color-1 {
  color: $color1;
}



/*  View Width */
$breakpoint_tablet: 576px;
$breakpoint_desktop: 991px;

