/*  Color Profile */
$color-1: #7ed56f;
$color-2: #55c57a;
$color-3: #28b485;
$bg-1: #efefef;





.theme-1 {
  color: $color-1;
  background-color: $bg-1;
}

.color-1 {
  color: $color-1;
}



/*  View Width */
$breakpoint_tablet: 576px;
$breakpoint_desktop: 991px;

